DB_HOST='' # db host
DB_PORT='6543' # db port
dbname='postgres' 
DB_USER='' # db user 
DB_PASSWORD='' # db pass
SECRET_KEY='JBSWY3DPEHPK3PXP' # used on jwt and otp secrets, generated with python secrets lib 
ALGORITHM='HS256' # jwt
ACCESS_TOKEN_EXPIRE_MINUTES=30 
SENDER='' # email for smtplib mail send
LOCK='' # gmail app password 
CELERY_HOST='' # redis host
CELERY_PORT='30059' # redis port
CELERY_PASS='' # redis password 
STRIPE_SECRET_KEY='' 
STRIPE_PUBLIC_KEY=''
FRONT_REDIRECT_URL='http://localhost:3000' 