services:
  app:
    build: .
    image: tinto_api:latest
    container_name: Tinto
    command: task dev
    volumes:
      - .:/tinto_api
    working_dir: /tinto_api
    ports:
      - "7777:7777" 
    environment:
      - TZ=America/Manaus
    env_file:
      - .env

  worker:
    image: tinto_api:latest
    container_name: Celery_tasks
    command: task worker
    volumes:
      - .:/tinto_api
    working_dir: /tinto_api
    environment:
      - TZ=America/Manaus
    env_file:
      - .env
    depends_on:
      - redis
      - app
  
  redis:
    image: redis:7-alpine
    container_name: celery_broker
    ports:
      - "${CELERY_PORT}:6379"
    environment:
      - REDIS_PASSWORD=${CELERY_PASS}
    command: >
      sh -c "redis-server --requirepass \"$CELERY_PASS\""